.deck {
    border: 1px solid red;
    margin: 1rem auto;
    width: 90%;
}

div.card {
    margin: 1rem 0;
    padding: 2rem;
    text-align: center;
}

@media (min-width: 1160px) {

    body {
        background: red;
    }

    div.tier1{
        display: inline-block;
        width: 40%;
    }

    div.tier2 {
        display: inline-block;
        width: 20%;
    }

    div.tier3 {
        display: inline-block;
        width: 80%;
    }

    div.special {
        width: 20%;
        float: left;
    }

    section.innerBox {
        float: right;
    }

}